body {
  font-family: “Lucida Grande”, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

div {
  margin-top: 30%;
  span {
    display: block;
    font-size: 26px;
  }
}